.header__contact
    height: 159px

    &_top
        display: flex
        flex-direction: column

    &_nav
        display: flex
        justify-content: space-between
        margin: 37px 114px 47px 113px

.contacts__info

    &_in
        position: absolute
        width: 780px
        margin: 51px 320px

    &_heading
        font-weight: 500
        font-size: 44px
        line-height: 74px
        text-align: center
        letter-spacing: 0.04em
        color: $textColor

    &_text
        padding-top: 16px
        width: 780px
        font-weight: 400
        font-size: 20px
        line-height: 30px
        text-align: center
        letter-spacing: 0.04em
        color: rgba(255, 255, 255, 0.6)

    &_img
        width: 100vw
