* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section__first {
  width: 1140px;
  margin: 0px auto;
  margin-top: 64px;
}

.section__second {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 64px;
}

.main__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  height: 768px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header__top {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 34px 0 107px 0;
}

.header__info {
  background-image: url(../img/illustration.png);
  background-repeat: no-repeat;
  background-position: right 3px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__heading {
  width: 506px;
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.header__text {
  width: 425px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
  margin: 32px 0 71px 0;
}

.header__botton {
  width: 220px;
  height: 56px;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.section__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__first_heading {
  width: 1137px;
}

.section_first_h1 {
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.section__block1 {
  width: 359px;
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.block1__icon {
  margin-top: 44px;
}

.block1__info {
  width: 283px;
  margin: 51px 44px 44px 32px;
}

.block1__heading {
  width: 283px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
}

.block1__text {
  padding: 14px 0px 29px 0px;
  width: 268.31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.block1__link {
  width: 78px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
}

.block1__footer {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block1__img {
  width: 23px;
  height: 22px;
  padding-left: 20px;
  padding-top: 5px;
}

.section__block2 {
  width: 358px;
  margin: 65px 32px 0px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.block2__icon {
  margin-top: 43px;
}

.block2__info {
  width: 294px;
  margin: 44px 32px;
}

.block2__heading {
  width: 294px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
}

.block2__text {
  width: 294px;
  padding: 15px 0px 28px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.block2__link {
  width: 78px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
}

.block2__footer {
  width: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block2__img {
  width: 23px;
  height: 22px;
  padding-left: 20px;
  padding-top: 5px;
}

.section__block3 {
  width: 359px;
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.block3__icon {
  margin-top: 44px;
}

.block3__info {
  width: 283px;
  margin: 48px 32px 44px 32px;
}

.block3__heading {
  width: 294px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
}

.block3__text {
  padding: 15px 0px 27px 0px;
  width: 295px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.block3__link {
  width: 78px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
}

.block3__footer {
  width: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block3__img {
  width: 23px;
  height: 22px;
  padding-left: 20px;
  padding-top: 3px;
}

.section__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__info_heading {
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000;
}

.section__info_text {
  width: 750px;
  margin: 32px auto 64px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000;
}

.section__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image__first {
  margin: 64px 0 32px 0;
}

.image__first_heading {
  position: absolute;
  padding: 64px 64px 304px 678px;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.image__second {
  padding-right: 32px;
}

.image__second_heading {
  position: absolute;
  padding: 32px 339px 339px 32px;
  font-weight: 400;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.image__third_heading {
  position: absolute;
  padding: 32px 264px 339px 32px;
  font-weight: 400;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer {
  height: 657px;
  margin-top: 112px;
  background: #316099;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  margin: 91px 0px 96px 113px;
  width: 495px;
}

.footer__text_heading {
  width: 341px;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer__text_paragraph {
  padding-top: 32px;
  width: 494.77px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 165px 114px auto;
  width: 237px;
  height: 56px;
  background: #5A98D0;
}

.footer__button_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer__line {
  border-bottom: 1px solid #ffffff;
  opacity: 0.4;
}

.footer__contact {
  margin: 64px 0 0 130px;
}

.footer__contact_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.footer__contact_list_item {
  padding-left: 36px;
  width: 316.98px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer__end {
  margin: 64px 0px 64px 113px;
}

.footer__end_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

.header__contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 34px 0 55px 0;
}

.header__contact_info {
  height: 250px;
  background-image: url(../img/contacts_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__contact_info_heading {
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 16px;
}

.header__contact_info_text {
  max-width: 780px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts__section_left {
  margin: 135px 0px 0px 212px;
}

.contacts__section_left_info {
  margin-top: 56px;
  width: 299px;
}

.contacts__section_left_info_heading {
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.contacts__section_left_info_text {
  padding-bottom: 40px;
  width: 299px;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
}

.contacts__section_left_contact {
  width: 180px;
}

.contacts__section_left_contact_heading {
  width: 70px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.contacts__section_left_contact_first {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.6;
}

.contacts__section_left_contact_second {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.6;
}

.contacts__section_left_contact_img {
  padding-right: 16px;
}

.contacts__section_left_contact_number {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.contacts__section_left_services {
  margin-top: 40px;
  width: 210px;
}

.contacts__section_left_services_heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.contacts__section_left_services_first {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.6;
}

.contacts__section_left_services_second {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.6;
}

.contacts__section_left_services_img {
  padding-right: 16px;
}

.contacts__section_left_services_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
}

.contacts__section_right {
  margin: 57px 212px 0px 101px;
  width: 540px;
  height: 800px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.contacts__section_right_heading {
  padding: 56px 0px 0px 56px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.contacts__section_right_form {
  margin: 48px 56px 0 56px;
  width: 428px;
}

.contacts__section_right_form_heading {
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
}

.contacts__section_right_btn {
  margin: 72px 56px 56px 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 428px;
  height: 72px;
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  -webkit-filter: drop-shadow(5px 10px 20px rgba(16, 112, 177, 0.2));
          filter: drop-shadow(5px 10px 20px rgba(16, 112, 177, 0.2));
}

.contacts__section_right_btn_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.section__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 96px 0 112px 0;
}

.footer__contact_second {
  margin: 64px 0 0 130px;
}

.footer__contact_second_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  list-style-type: upper-alpha;
}

.footer__contact_second_list_item_second {
  padding-left: 36px;
  width: 316.98px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

#UserName {
  padding-left: 42px;
  width: 428px;
  height: 72px;
  opacity: 0.4;
  border: 1px solid #356EAD;
  border-radius: 10px;
}

#UserMessage {
  width: 428px;
  height: 144px;
  opacity: 0.6;
  border: 1px solid #356EAD;
  border-radius: 10px;
  resize: none;
}

::-webkit-input-placeholder {
  width: 108px;
  padding: 21px 284px 21px 0px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
}

:-ms-input-placeholder {
  width: 108px;
  padding: 21px 284px 21px 0px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
}

::-ms-input-placeholder {
  width: 108px;
  padding: 21px 284px 21px 0px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
}

::placeholder {
  width: 108px;
  padding: 21px 284px 21px 0px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
}

textarea::-webkit-input-placeholder {
  padding: 21px 284px 93px 36px;
}

textarea:-ms-input-placeholder {
  padding: 21px 284px 93px 36px;
}

textarea::-ms-input-placeholder {
  padding: 21px 284px 93px 36px;
}

textarea::placeholder {
  padding: 21px 284px 93px 36px;
}

@media (max-width: 768px) {
  .header {
    width: 768px;
    height: 768px;
  }
  .header__nav {
    margin: 47px 34px 112px 32px;
  }
  .header__info {
    margin: 0 0 0 32px;
    background-size: 336px;
    background-position: right 32px bottom 90px;
  }
  .section__first {
    max-width: 768px;
  }
  .section__first_heading {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 32px;
  }
  .section__blocks {
    max-width: 768px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__block2 {
    margin-top: 32px;
  }
  .section__block3 {
    margin-top: 32px;
  }
  .section__info_text {
    width: 520px;
  }
  .image__first_heading {
    height: 112px;
    padding: 64px 64px 120px 255px;
  }
  .image__second_heading {
    padding: 19px 115px 205px 19px;
  }
  .image__third_heading {
    padding: 19px 34px 205px 19px;
  }
  .image__first > img {
    width: 704px;
  }
  .image__second > img {
    width: 336px;
  }
  .image__third > img {
    width: 336px;
  }
  .footer {
    height: 768px;
  }
  .footer__text {
    margin: 47px 0 96px 124px;
    width: 336px;
  }
  .footer__text_paragraph {
    width: 336px;
  }
  .footer__button {
    width: 133.04px;
    height: 31.48px;
    margin-left: 51px;
  }
  .footer__contact {
    margin: 64px 0 0 145px;
    max-width: 520px;
  }
  .footer__contact_list {
    gap: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__contact_list_item {
    padding-left: 32px;
    width: 515px;
    height: 21px;
  }
  .footer__end {
    margin: 64px 64px 64px 124px;
  }
  .header__contact_top {
    margin: 47px 34px 112px 32px;
  }
  .header__contact_info {
    background-size: initial;
    background-position: -350px top;
  }
  .main__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__section_left {
    margin: 64px 0 0 0;
  }
  .contacts__section_right {
    margin: 64px 0 0 0;
  }
}

@media (max-width: 376px) {
  .header {
    width: 376px;
    height: 376px;
  }
  .header__nav {
    margin: 21px 19px 33px 16px;
  }
  .header__info {
    background-image: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__heading {
    max-width: 326px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    font-weight: 300;
  }
  .header__text {
    text-align: center;
    width: 343px;
    margin: 12px 0 32px 0;
  }
  .header__botton {
    width: 108px;
    height: 27px;
    margin-bottom: 40px;
    font-size: 12px;
    border-radius: 12px;
  }
  .section__first {
    width: 376px;
  }
  .section__first_heading {
    width: 341px;
    margin: 0 17px 32px 17px;
    padding: 0;
  }
  .section_first_h1 {
    width: 341px;
    font-size: 24px;
    line-height: 28px;
  }
  .section__second {
    width: 376px;
  }
  .section__second_info {
    width: 376px;
  }
  .section__info_heading {
    width: 343px;
    font-size: 24px;
    margin: 0 auto;
  }
  .section__info_text {
    width: 343px;
    margin: 32px auto 84px auto;
  }
  .section__image {
    width: 376px;
    margin: 0px auto;
  }
  .image__first {
    margin: 0 0 32px 0;
  }
  .image__first_heading {
    padding: 16px 0px 112px 144px;
    font-size: 16px;
    line-height: 19px;
  }
  .image__first > img {
    width: 343px;
    height: 144px;
  }
  .image__second {
    padding: 0;
  }
  .image__second_heading {
    font-size: 16px;
    line-height: 19px;
  }
  .image__third {
    margin-top: 16px;
  }
  .image__third_heading {
    font-size: 16px;
    line-height: 19px;
  }
  .footer {
    height: 100%;
    margin-top: 64px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__text {
    width: 343px;
    margin: 0 auto;
  }
  .footer .footer__text_heading {
    width: 250px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    padding-top: 18px;
  }
  .footer .footer__text_paragraph {
    width: 343px;
    text-align: center;
    margin-bottom: 40px;
  }
  .footer__button {
    margin: 0 auto;
  }
  .footer__line {
    margin-top: 40px;
  }
  .footer__contact {
    width: 376px;
    margin: 32px 0 0 0;
  }
  .footer__contact_list {
    margin: 0 15px 0 25px;
  }
  .footer__contact_list_item {
    width: 344px;
  }
  .footer__end {
    margin: 0 auto;
    text-align: center;
    padding: 32px;
  }
  .footer__end_text {
    margin-bottom: 32px;
  }
  ol > li:nth-child(2) {
    padding-top: 17px;
  }
  ol > li:nth-child(3) {
    padding-top: 17px;
    padding-bottom: 32px;
  }
  .header__contact {
    width: 376px;
    height: 376px;
  }
  .header__contact_top {
    margin: 0;
  }
  .header__contact_nav {
    margin: 21px 19px 33px 16px;
  }
  .header__contact_info {
    background-position: -541px top;
  }
  .header__contact_info_heading {
    padding-top: 48px;
    font-size: 24px;
    line-height: 28px;
  }
  .header__contact_info_text {
    padding-top: 32px;
    padding-bottom: 61px;
    font-size: 16px;
    line-height: 30px;
  }
  .contacts__section_right {
    width: 342px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__section_right_heading {
    padding: 36px 89px 11px 0px;
  }
  .contacts__section_right_btn {
    margin: 46px 0 35px 0;
    width: 271px;
    height: 46px;
  }
  .contacts__section_right_form {
    padding: 20px 35px 0 35px;
    margin: 0;
    width: 342px;
  }
  #UserName {
    width: 271px;
    height: 46px;
  }
  #UserMessage {
    width: 271px;
    height: 92px;
  }
}
/*# sourceMappingURL=main.css.map */